form#meetForm(name='form')
    input#inputMeetNo(type='hidden')
    input#inputMemberList(type='hidden')
    input#inputLocationNo(type='hidden')
    .row.mb-3
        p.mb-2 모임일자
        input#inputMeetDay.form-control.input-el(
            type='date'
            style='margin-left:10px;'
            )
        
    .row.mb-3
        p.mb-2 모임시각
        input#inputMeetTime.form-control.input-el(
            type='time'
            style='margin-left:10px;'
            )
         
    .row.mb-3
        p.mb-2#locationListName 장소
        d#locationDiv
            select#locationList.input-el
    //- .row.mb-3
    //-     .form-floating.mb-3
    //-     p#memberListName 참여자
    //-         d#memberDiv
    //-             ul#memberList(style='list-style:none')
    .row.mb-3
        p.mb-2#memberListName 참여자
        #memberDiv(style='width: 125px; height: 180px; max-height: 180px; overflow-y: auto;')
            ul#memberList(style='list-style:none; padding: unset; display: flex; flex-wrap: wrap;')
        #attendMember.mt-3(style='display:flex; flex-wrap: wrap;')
    .row.mb-3
        p.mb-2#endYnName 종료 여부
            input#inputEndYn1(type='radio', name='endYn', value='0')
            label(for='inputEndYn1') 진행중
            input#inputEndYn2(type='radio', name='endYn', value='1')
            label(for='inputEndYn2') 종료
    .mt-4.mb-0
        .d-grid
            .row.mb-3
                .form-floating.mb-3
                    a.btn.btn-primary.btn-block#submit #{buttonName}
            .row.mb-3
                .form-floating.mb-3
                    a(href='meet.html') 목록으로

style(type="text/css" scoped).
    .input-el { width: 200px; height: 30px; border: 1px solid #ddd; border-radius: 4px;}