h1.mt-4 #{pageTitle}
if index
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active #{pageTitle}
else
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active #{pageTitle}
        li.breadcrumb-item.active
            a(href=addPage) #{pageTitle} 추가
